.calculo{
    font-family: 'Courier New', Courier, monospace;
    background-color:rgb(red, green, blue)                                                                                                                                                                                                                            
}
.resultado{
    color: red;
    font-weight: bold;
}